.about {
  background-color: #fff5f6;
  padding-top: 125px;
  background-image: url(../images/about/about-bg-mob-1x.png);
  background-repeat: no-repeat;
  background-position: 100% 93%;
  background-size: contain;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/about/about-bg-mob-2x.png);
  }

  @media screen and (min-width: 768px) {
    background-image: none;
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../images/about/about-bg-desc-1x.png);
  }

  @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/about/about-bg-desc-2x.png);
  }
}

.label {
  display: flex;
  justify-content: center;
  font-family: Titan One, cursive;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  color: #ffa5ba;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.13;
  }
}

.about__text {
  max-width: 220px;
  margin: 0 auto;
}

.about__first-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: #000000;
  margin-top: 46px;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.76;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.about__second-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: #907e82;
  margin-bottom: 20px;
}

.btn {
  width: 176px;
  height: 44px;
  margin-left: 35px;
  background: #ffffff;
  border-radius: 22px;
  border-width: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: #d41443;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: #ecebeb;
  }
}
