.about {
  background-color: #fff5f6;
  padding-top: 125px;
  background-repeat: no-repeat;
  background-position: 100% 88%;
  background-size: contain;

  @media screen and (max-width: 767px) {
    background-image: url(../images/about/about-bg-mob-1x.png);
    @media screen and (max-width: 767px) and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/about/about-bg-mob-2x.png);
    }
  }

  @media screen and (min-width: 768px) {
    padding-top: 130px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 125px;
    background-image: url(../images/about/about-bg-desc-1x.png);
    @media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/about/about-bg-desc-2x.png);
    }
  }
}

.label {
  display: flex;
  justify-content: center;
  font-family: Titan One, cursive;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  color: var(--fourth-text-color);
  margin-bottom: 15px;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
  }
}

.about__block {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

img {
  margin-top: 26px;

  @media screen and (min-width: 768px) {
    margin-top: 50px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 55px;
  }
}

.about__text {
  max-width: 220px;
  margin: auto;
  margin-top: 46px;

  @media screen and (min-width: 768px) {
    max-width: 340px;
    margin: 0;
    padding-left: 17px;
    margin-top: 100px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 463px;
    padding-left: 74px;
    margin-top: 106px;
  }
}

.about__first-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: var(--second-text-color);
  margin-bottom: 31px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.76;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    margin-bottom: 35px;
  }
}

.about__second-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: var(--primary-text-color);
  margin-bottom: 25px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.76;
    margin-bottom: 15px;
  }

  @media screen and (min-width: 1280px) {
    line-height: 1.94;
    margin-bottom: 25px;
  }
}

.about__third-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: var(--primary-text-color);
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.76;
    margin-bottom: 62px;
  }

  @media screen and (min-width: 1280px) {
    line-height: 1.94;
    margin-bottom: 45px;
  }
}

.about__modal {
  background-color: #fff5f6;
}

.about__modal-block {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.about__modal-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: var(--primary-text-color);

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.76;
    max-width: 340px;
  }

  @media screen and (min-width: 1280px) {
    line-height: 1.94;
  }
}
