.advantages {
  padding-bottom: 97px;
  padding-top: 39px;
  background-color: #fff5f6;

  @media screen and (min-width: 768px) {
    padding-top: 66px;
    padding-bottom: 140px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 39px;
    padding-bottom: 139px;
  }
}

.advantages-list {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.advantages-item {
  width: 230px;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 38px;
    }
  }

  @media screen and (min-width: 768px) {
    width: 180px;
    &:not(:last-child) {
      margin-right: 60px;
    }
  }

  @media screen and (min-width: 1280px) {
    width: 330px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &::before {
    content: '';
    background-repeat: no-repeat;
    display: block;
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
      margin-bottom: 36px;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 40px;
    }
  }

  &:nth-child(1)::before {
    background-image: url(../images/advantages-icon/milk.png);
    background-size: 33px 50px;
    width: 33px;
    height: 50px;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/advantages-icon/milk@2x.png);
    }
  }

  &:nth-child(2)::before {
    background-image: url(../images/advantages-icon/apple.png);
    background-size: 50px 50px;
    width: 50px;
    height: 50px;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/advantages-icon/apple@2x.png);
    }
  }

  &:nth-child(3)::before {
    background-image: url(../images/advantages-icon/heart.png);
    background-size: 50px 50px;
    width: 50px;
    height: 50px;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/advantages-icon/heart@2x.png);
      width: 50px;
      height: 50px;
    }
  }
}

.advantages-numbers {
  font-family: Titan One, sans-serif;
  font-size: 36px;
  line-height: 1.13;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  margin-bottom: 16px;
  display: block;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.14;
    margin-bottom: 13px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 1.13;
    margin-bottom: 15px;
  }
}

.advantages-text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  color: var(--second-text-color);

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.74;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.02em;
  }
}
