.contacts {
  padding-top: 86px;
  padding-bottom: 113px;
  background-image: linear-gradient(to bottom, var(--third-text-color) 170px, #fff5f6 170px);
  @media screen and (min-width: 768px) {
    padding-top: 117px;
    padding-bottom: 158px;
    background-image: linear-gradient(to bottom, var(--third-text-color) 197px, #fff5f6 197px);
  }
  @media screen and (min-width: 1280px) {
    padding-top: 132px;
    padding-bottom: 165px;
    background-image: url(../images/bg-contacts.png),
      linear-gradient(to bottom, var(--third-text-color) 234px, #fff5f6 234px);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 40%;
  }
  @media screen and (min-width: 1280px) and (min-resolution: 192dpi),
    screen and (min-width: 1280px) and (min-resolution: 2dppx) {
    background-image: url(../images/bg-contacts2x.png),
      linear-gradient(to bottom, var(--third-text-color) 234px, #fff5f6 234px);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 40%;
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 54px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: calc(-1 * 20px);
    margin-top: calc(-1 * 20px);
    margin-bottom: 81px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: calc(-1 * 30px);
    margin-top: calc(-1 * 30px);
    margin-bottom: 86px;
  }
}

.contacts__item {
  background-color: var(--third-text-color);
  padding: 43px 21px 43px 20px;
  border-radius: 24px;

  width: 220px;
  transition: box-shadow var(--duration) var(--timing-function);

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 20px;
    }
  }

  @media screen and (max-width: 1279px) {
    box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
  }

  @media screen and (min-width: 768px) {
    padding: 50px 32px 50px 31px;
    flex-basis: calc(100% / 3 - 20px);
    margin-left: 20px;
    margin-top: 20px;
  }
  @media screen and (min-width: 1280px) {
    padding: 51px 44px 62px 43px;
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    &:hover,
    &:focus {
      box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
    }
  }
}

.contacts__field {
  width: 80px;
  background-color: #f0d1a5;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 25px;

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 32px;
  }
}

.contacts__field--green {
  width: 130px;
  background-color: #c2e297;
}

.contacts__name,
.contacts__city {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  text-align: center;
  letter-spacing: 0.04em;

  color: var(--third-text-color);

  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
  }
}

.contacts__city {
  display: block;
  text-align: left;
  margin-bottom: 10px;

  color: var(--second-text-color);

  @media screen and (min-width: 768px) {
    margin-bottom: 14px;
    font-size: 14px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.88;
  }
}

.contacts__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 25px;

  color: var(--primary-text-color);

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    line-height: 1.64;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 1.81;
  }
}

.contacts__schedule {
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 25px;
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 32px;
  }
}

.contacts__day,
.contacts__time {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;

  color: var(--second-text-color);

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.86;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.88;
  }
}

.contacts__time {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  color: var(--fourth-text-color);

  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 1280px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.contacts__tel,
.contacts__email {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;

  color: var(--primary-text-color);
  transition: color var(--duration) var(--timing-function);

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.86;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.81;
  }
}

.contacts__tel:hover,
.contacts__email:hover,
.contacts__tel:focus,
.contacts__email:focus {
  color: var(--fourth-text-color);
}

.contacts__button {
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 768px) {
    padding: 12px 38.63px 12px 37.71px;
    margin-left: 0;
    &:not(:last-child) {
      margin-right: 14.5px;
      @media screen and (min-width: 1280px) {
        margin-right: 15px;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
  @media screen and (min-width: 1280px) {
    padding: 10px 40px 10px 39px;
  }
}

.contacts__button--reverse {
  @media screen and (min-width: 768px) {
    padding: 12px 34.77px 12px 30px;
  }
}

.contacts__button-flex {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
  @media screen and (min-width: 1280px) {
    padding: 10px 35px 10px 35px;
  }
}

/*Modal*/

.modal-franchise {
  padding: 40px;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, var(--third-text-color), #fff5f6);
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: stretch;
    margin: -10px;
  }
  @media screen and (min-width: 1280px) {
    padding: 50px;
    margin: -20px;
  }
}

.modal-franchise__address--border {
  padding: 10px 0;
  @media screen and (max-width: 767px) {
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    padding: 15px 0;
  }
}

.modal-franchise__address {
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - 20px);
    margin: 10px;
    padding: 15px;
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - 40px);
    margin: 20px;
    padding: 15px;
  }
}

.modal-franchise__address:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 10px;
  }
}

.modal-franchise__item {
  text-align: left;

  &:not(:last-child) {
    @media screen and (min-width: 480px) {
      margin-bottom: 10px;
    }
  }
}

.modal-franchise__item--background {
  width: 120px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #f0d1a5;
  @media screen and (min-width: 768px) {
    width: 140px;
    margin-bottom: 20px;
  }
}

.modal-franchise__name {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.83;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #ffffff;

  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
  }

  @media screen and (min-width: 1280px) {
    line-height: 1.88;
  }
}

.modal-franchise__link {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.83;

  color: var(--primary-text-color);

  transition: color var(--duration) var(--timing-function);

  &:hover,
  &:focus {
    color: var(--fourth-text-color);
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.86;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.88;
  }
}

.modal-locations {
  padding: 5px;
}

.modal-locations__button {
  top: 10px;
  right: 10px;
}

.modal-locations__map {
  width: 100%;
}

.map_iframe {
  width: 100%;
  height: 400px;
  border: 0;
  overflow: hidden;
  marginheight: 0;
  marginwidth: 0;
}
