.footer {
  background-color: #fff5f6;

  &__maine {
    padding-bottom: 43px;

    @media screen and (min-width: 768px) {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      padding-bottom: 91px;
    }

    @media screen and (min-width: 1280px) {
      padding-bottom: 97px;
    }
  }

  &__text {
    margin-bottom: 43px;
    font-family: Titan One, cursive;
    max-width: 234px;

    @media screen and (min-width: 768px) {
      max-width: 340px;
      margin-bottom: 0px;
    }

    @media screen and (min-width: 1280px) {
      max-width: 100%;
    }
  }

  &__toptext {
    display: block;
    margin-bottom: 17px;
    color: var(--fourth-text-color);
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      margin-bottom: 17px;
      font-size: 26px;
      line-height: 1.15;
      letter-spacing: 0.04em;
      text-transform: uppercase;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 15px;
      font-size: 30px;
      line-height: 1.13;
    }
  }

  &__bottomtext {
    color: var(--accent-color);
    @include font(34px, 1.15);
    letter-spacing: 0.04em;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      font-size: 48px;
      letter-spacing: 0.06em;
    }

    @media screen and (min-width: 1280px) {
      font-size: 58px;
      line-height: 1.14;
    }
  }
}

//socials partial

.socials {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 46px;

  &__item:not(:last-child) {
    margin-right: 28px;
  }
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fea5bb;

  transition-property: background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    width: 34px;
    height: 34px;
  }
}

.socials__icon {
  fill: var(--third-text-color);
}

// contact

.footer__contact {
  display: block;
  // margin-bottom: 43px;

  font-family: DM Sans;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  text-align: right;

  &--text {
    color: var(--second-text-color);
  }
  &--number {
    color: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}

//rights
.footer__line {
  border-top: 1px solid #e1e1e1;
}

.footer__rights {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 22px 0px 25px 0px;
  max-width: 150px;

  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  color: var(--primary-text-color);

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    line-height: 1.86;
    padding: 29px 0px 18px;
  }

  @media screen and (min-width: 1280px) {
    padding: 9px 0px 10px;
  }

  &--first {
    display: block;
  }

  &--second {
    display: block;
  }
}

.footer__modal {
  background-color: #ffb8ca;
}

.footer__modal--content {
  margin-top: 20px;
  background-image: url('../images/footer/milk-1-min.jpg');
  background-repeat: no-repeat;
  background-color: #ffb8ca;
  background-size: cover;
  border-radius: 25px;
  background-position: center;
}

.footer__modal-title {
  text-align: center;
  text-transform: uppercase;
  font-family: Titan One, cursive;
  color: var(--section-title-text-color);
  @include font(34px, 1.15);
}

.footer__modal-toptext {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.62;
  text-shadow: var(--accent-color) 2px 2px;
  color: var(--third-text-color);
  margin-bottom: 25px;
}
.footer__modal-bottomtext {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.62;
  text-shadow: var(--second-text-color) 1px 1px;
  color: var(--accent-color);
}
