.products {
    padding-top: 121px;
    padding-bottom: 98px;
    background-color: #ffffff;
}

.products__meta {
    text-align: center;
    text-transform: uppercase;
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.17;
    color: var(--fourth-text-color);

    margin-bottom: 15px;

    @media screen and (min-width: 768px) {
        font-size: 26px;
        line-height: 1.15;
    }

    @media screen and (min-width: 1280px) {
        font-size: 30px;
        line-height: 1.13; 
    }
}

.products__list {
    margin-top: 144px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 768px) {
       flex-wrap: nowrap;
       flex-direction: row;
       justify-content: space-between;
       margin-left: -20px;
    }

    @media screen and (min-width: 1280px) {
       margin-top: 259px; 
       margin-left: -30px;
    }
}

.products__item {
    position: relative;
    display: block;
    background-color: #FFB8CA;
    border-radius: 24px;
    width: 280px;

    padding-top: 161px;
    padding-bottom: 41px;
    padding-left: 40px;
    padding-right: 40px;

    text-align: center;
    
    &:nth-child(2) {
        background-color: #F0D1A5;
    }
    &:last-child {
        background-color: #C2E297;
    }

    @media screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: 130px;
        }
    }

    @media screen and (min-width: 768px) {
        padding-top: 152px;
        padding-left: 11px;
        padding-right: 11px;
        // width: 220px;
        // margin-left: 0;
        // margin-right: 0;
        // &:nth-child(-n + 2) {
        //     margin-bottom: 0;
        // }
        // &:not(:last-child) {
        //  margin-right: 20px;
        flex-basis: calc(100% / 3 - 20px);
        margin-left: 20px;    
    }

    @media screen and (min-width: 1280px) {
        padding-top: 163px;
        padding-bottom: 50px;
        padding-left: 44px;
        padding-right: 44px;
        height: 525px;
        flex-basis: calc(100% / 3 - 30px);
        margin-left: 30px;
        // &:not(:last-child) {
        //     margin-right: 30px;
        // }
    }
}

.products__title {
    text-align: center;
    text-transform: uppercase;
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    color: #ffffff;
    margin-bottom: 66px;

    &::before {
        content: "";
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        display: inline-block;
        width: 249px;
        height: 252px;
        top: -113px;
        left: 50%;
        transform: translateX(-50%);
        background-image: url("../images/products/ice-cream-mob.png");
        
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url("../images/products/ice-cream-mob2.png");
                    
        }

        @media screen and (min-width: 768px) {
            background-image: url("../images/products/ice-cream-tab.png");
            width: 220px;
            height: 224px;
            top: -103px;

            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url("../images/products/ice-cream-tab2.png");        
            }
        }

        @media screen and (min-width: 1280px) {
            background-image: url("../images/products/ice-cream-max.png");
            width: 335px;
            height: 335px;
            top: -210px;

            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url("../images/products/ice-cream-max2.png");        
            }
        }        
    }

    &::after {
        content: "";
        position: absolute;
        background-image: url("../images/products/points.svg");
        width: 26px;
        height: 6px;

        top: 214px;
        left: 50%;
        transform: translateX(-50%);

        @media screen and (min-width: 768px) {
            top: 205px;
        }

        @media screen and (min-width: 1280px) {
            top: 229px;
        }
    }

    @media screen and (min-width: 1280px) {
        margin-bottom: 70px;
        font-size: 30px;
        line-height: 1.13;
    }
}

.products__title--ice-coffee {
   &::before {
        background-image: url("../images/products/ice-coffee-mob.png");

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url("../images/products/ice-coffee-mob2.png");        
        }
        
        @media screen and (min-width: 768px) {
            background-image: url("../images/products/ice-coffee-tab.png");

            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url("../images/products/ice-coffee-tab2.png");        
            }
        }

        @media screen and (min-width: 1280px) {
            background-image: url("../images/products/ice-coffee-max.png");
            
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url("../images/products/ice-coffee-max2.png");        
            }
        } 
    }
}

.products__title--milkshakes {
    &::before {
        background-image: url("../images/products/milkshakes-mob.png");

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url("../images/products/milkshakes-mob2.png");        
        }
        
        @media screen and (min-width: 768px) {
            background-image: url("../images/products/milkshakes-tab.png");

            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url("../images/products/milkshakes-tab2.png");        
            }
        }

        @media screen and (min-width: 1280px) {
            background-image: url("../images/products/milkshakes-max.png");
            
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url("../images/products/milkshakes-max2.png");        
            }
        } 
    }
}

.products__text {
    margin-bottom: 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.52;
    letter-spacing: 0.04em;
    color: var(--third-text-color);

    @media screen and (min-width: 768px) {
        margin-bottom: 40px;
        line-height: 1.76;
    }

    @media screen and (min-width: 1280px) {
        margin-bottom: 62px;
        font-size: 16px;
    }
}

.products__button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    background-color: #fff;
    transition: background-color var(--timing-function) var(--duration);

    &:hover,
    &:focus {
        background-color: #ECEBEB;
    }
}

.products__icon {
    fill: #D41443;
}