@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
:root {
  --primary-text-color: #907e82;
  --second-text-color: #000000;
  --third-text-color: #ffffff;
  --fourth-text-color: #ffa5ba;
  --accent-color: #d41443;
  --section-title-text-color: #d41443;
  --main-bg-color: #e5e5e5;
  --list-set-gap: 30px;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body {
  font-family: DM Sans, sans-serif;
  color: var(--primary-text-color);
  background-color: var(--main-bg-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  font-family: Titan One, cursive;
  color: var(--section-title-text-color);
  font-size: 34px;
  line-height: 1.15;
  font-weight: 400;
  letter-spacing: 0.04em;
}

@media screen and (min-width: 768px) {
  .section-title {
    font-size: 48px;
    line-height: 1.15;
    font-weight: 400;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 58px;
    line-height: 1.14;
    font-weight: 400;
    letter-spacing: 0.06em;
  }
}

.header {
  background-color: #ffb8ca;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0;
  padding-bottom: 0;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1199px) {
  .header__navigation {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .header__navigation {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .header__navigation {
    padding-top: 37px;
  }
}

@media screen and (min-width: 480px) {
  .header__navigation {
    padding-top: 6px;
  }
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logotip {
  font-family: Titan One;
  font-size: 25px;
  line-height: 1.13;
  letter-spacing: 0.04em;
  margin-left: 10px;
  text-transform: uppercase;
  color: #d41443;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 110px;
}

@media screen and (max-width: 1199px) {
  .header__list {
    display: none;
  }
}

.header__link-home {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #d41443;
}

.header__link {
  font-family: DM Sans;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.31;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.header__list .header__item:not(:last-child) {
  margin-right: 35px;
}

.hero__button-type {
  width: 159px;
  height: 44px;
  margin-left: 110px;
  background: #ffffff;
  border-radius: 22px;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #d41443;
}

@media screen and (max-width: 768px) {
  .hero__button-type {
    display: none;
  }
}

.hero__button-icon {
  width: 4px;
  height: 8px;
  fill: #d41443;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  padding: 0;
  background-color: transparent;
  width: 20px;
  height: 12px;
  font-family: inherit;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .header__menu {
    display: none;
  }
}

.header__menu-icon {
  display: block;
  cursor: pointer;
  fill: #d41443;
}

.menu-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 12px;
}

.mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__mobilemenu {
  position: relative;
  width: 250px;
  height: 100vh;
  position: fixed;
  z-index: 999;
  background-color: #ffffff;
  top: 0;
  right: 0;
  padding: 23px 20px 0px 21px;
  background-color: #e17992;
  -webkit-filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));
}

@media screen and (min-width: 1200px) {
  .header__mobilemenu {
    display: none;
  }
}

.header__mobilemenu-close {
  position: absolute;
  top: 23px;
  right: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  padding: 0;
  margin-bottom: 23px;
  background-color: transparent;
  width: 14px;
  height: 14px;
  font-family: inherit;
  cursor: pointer;
  fill: #ffffff;
}

.header__mobilemenu-button {
  width: 209px;
  height: 44px;
  margin-top: 23px;
  margin-bottom: 19px;
  background: #ffffff;
  border-radius: 22px;
  border: none;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #d41443;
}

.header__mobilemenu-link-home {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #d41443;
}

.header__mobilemenu-item::before {
  content: '';
  border: 1px solid #e18298;
  max-width: 100%;
}
/*# sourceMappingURL=main.css.map */