:root {
  --primary-text-color: #907e82;
  --second-text-color: #000000;
  --third-text-color: #ffffff;
  --fourth-text-color: #ffa5ba;
  

  --accent-color: #d41443;

  --section-title-text-color: #d41443;

  --main-bg-color: #e5e5e5;

  --list-set-gap: 30px;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
}
