<section class="section about">
  <a href="" id="about"></a>
  <div class="container">
    <span class="label wow fadeInUp">tradition and love</span>
    <h2 class="section-title wow fadeInUp" data-wow-delay="0.5s">how it’s made?</h2>
    <div class="about__block">
      <picture class="wow fadeInLeftBig">
        <source
          srcset="././images/about/about-desc-1x.png 1x, ././images/about/about-desc-2x.png 2x"
          media="(min-width:1280px)"
        />
        <source
          srcset="././images/about/about-tab-1x.png 1x, ././images/about/about-tab-2x.png 2x"
          media="(min-width:768px)"
        />
        <source
          srcset="././images/about/about-mob-1x.png 1x, ././images/about/about-mob-2x.png 2x"
          media="(min-width:480px)"
        />
        <img src="././images/about/about-desc-1x.png" alt="Корова и молоко" />
      </picture>
      <div class="about__text">
        <p class="about__first-text wow slideInRight">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about__second-text wow slideInRight" data-wow-delay="1s">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
        </p>
        <p class="about__third-text wow slideInRight" data-wow-delay="1s">
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button
          type="submit"
          class="about__button button js-open-modal wow slideInDown"
          data-wow-delay="1s"
          data-modal="7"
        >
          <span class="button__text"> Read more </span>
          <svg width="8" height="11" class="about__icon button__icon">
            <use href="././images/sprite.svg#icon-button"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div class="modal about__modal" data-modal="7">
    <button type="button" class="modal__cross js-modal-close">
      <svg class="modal__cross__icon" width="15" height="15">
        <use href="././images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="about__modal-block">
      <picture>
        <source
          srcset="././images/about/about-desc-1x.png 1x, ././images/about/about-desc-2x.png 2x"
          media="(min-width:1280px)"
        />
        <source
          srcset="././images/about/about-tab-1x.png 1x, ././images/about/about-tab-2x.png 2x"
          media="(min-width:768px)"
        />
        <source
          srcset="././images/about/about-mob-1x.png 1x, ././images/about/about-mob-2x.png 2x"
          media="(min-width:480px)"
        />
        <img src="././images/about/about-desc-1x.png" alt="Корова и молоко" />
      </picture>
      <p class="about__modal-text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima possimus debitis ducimus
        ratione labore rerum magnam nostrum fuga maiores veniam similique omnis commodi laborum
        illum repellendus, libero consequuntur quidem natus exercitationem. Animi dolorum eos saepe
        suscipit illum voluptas perspiciatis nulla pariatur dicta dolore, iure dolor obcaecati
        commodi veritatis quas quidem.
      </p>
    </div>
  </div>
</section>
