<section class="contacts">
  <a href="" id="contacts"></a>
  <div class="container wow slideInLeft">
    <h2 class="section-title visually-hidden">Contacts</h2>

    <ul class="contacts__list list">
      <li class="contacts__item">
        <div class="contacts__field">
          <span class="contacts__name">CAFE</span>
        </div>

        <span class="contacts__city">Chicago</span>

        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <div class="contacts__schedule">
          <span class="contacts__day">Monday - Friday</span>

          <p class="contacts__time">06:00 AM - 10:00 PM</p>

          <span class="contacts__day">Saturday - Sunday</span>

          <p class="contacts__time">08:00 AM - 16:00 PM</p>
        </div>

        <a href="tel:+61(0)383766284" class="contacts__tel link"> +61(0) 383 766 284 </a>

        <a href="mailto:noreply@envato.com" class="contacts__email link"> noreply@envato.com </a>
      </li>

      <li class="contacts__item">
        <div class="contacts__field contacts__field--green">
          <span class="contacts__name">FOOD TRUCK</span>
        </div>

        <span class="contacts__city">Los Angeles</span>

        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <div class="contacts__schedule">
          <span class="contacts__day">Monday - Friday</span>

          <p class="contacts__time">06:00 AM - 10:00 PM</p>

          <span class="contacts__day">Saturday - Sunday</span>

          <p class="contacts__time">08:00 AM - 16:00 PM</p>
        </div>

        <a href="tel:+61(0)383766284 " class="contacts__tel link"> +61(0) 383 766 284 </a>

        <a href="mailto:noreply@envato.com" class="contacts__email link"> noreply@envato.com </a>
      </li>
      <li class="contacts__item">
        <div class="contacts__field">
          <span class="contacts__name">CAFE</span>
        </div>

        <span class="contacts__city">New York</span>

        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <div class="contacts__schedule">
          <span class="contacts__day">Monday - Friday</span>

          <p class="contacts__time">06:00 AM - 10:00 PM</p>

          <span class="contacts__day">Saturday - Sunday</span>

          <p class="contacts__time">08:00 AM - 16:00 PM</p>
        </div>

        <a href="tel:+61(0)383766284 " class="contacts__tel link"> +61(0) 383 766 284 </a>

        <a href="mailto:noreply@envato.com" class="contacts__email link"> noreply@envato.com </a>
      </li>
    </ul>
    <div class="contacts__button-flex">
      <button
        type="button"
        class="contacts__button contacts__button--reverse button button--reverse js-open-modal"
        data-modal="1"
      >
        <span class="button__text"> Our Locations </span>
        <svg width="8" height="11" class="contacts__icon button__icon button__icon--reverse">
          <use href="././images/sprite.svg#icon-button"></use>
        </svg>
      </button>
      <button type="button" class="contacts__button button js-open-modal" data-modal="2">
        <span class="button__text"> Franchise </span>
        <svg width="8" height="11" class="contacts__icon button__icon">
          <use href="././images/sprite.svg#icon-button"></use>
        </svg>
      </button>
    </div>
  </div>

  <div class="modal modal-locations" data-modal="1">
    <button type="button" class="modal__cross modal-locations__button js-modal-close">
      <svg class="modal__cross__icon" width="20" height="20">
        <use href="././images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-locations__map">
      <iframe
        class="map_iframe"
        src="https://maps.google.com/maps?width=100%25&amp;height=400&amp;hl=en&amp;q=201%20E%20Randolph%20St,%20Chicago,%20IL%2060602,%20USA+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
      >
      </iframe>
    </div>
    <!-- AIzaSyACLtFt_g-bZBJBw4KQiwr7rNg8ekXQhsQ -->
  </div>

  <div class="modal modal-franchise" data-modal="2">
    <button type="button" class="modal__cross js-modal-close">
      <svg class="modal__cross__icon" width="20" height="20">
        <use href="././images/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <address class="modal-franchise__address">
      <ul class="modal-franchise__list list">
        <li class="modal-franchise__item modal-franchise__item--background">
          <p class="modal-franchise__name">Chicago</p>
        </li>
        <li class="modal-franchise__item">
          <a
            href="https://goo.gl/maps/p21c2JTXzuAmaucKA"
            target="_blank"
            rel="noopener noreferrer"
            class="modal-franchise__link link"
          >
            201 E Randolph St, Chicago, IL 60602, USA</a
          >
        </li>
        <li class="modal-franchise__item">
          <a href="mailto:noreply@envato.com" class="modal-franchise__link link"
            >noreply@envato.com</a
          >
        </li>
        <li class="modal-franchise__item">
          <a href="tel:+61(0)373756184" class="modal-franchise__link link">+61(0) 373 756 184</a>
        </li>
      </ul>
    </address>

    <address class="modal-franchise__address modal-franchise__address--border">
      <ul class="modal-franchise__list list">
        <li class="modal-franchise__item modal-franchise__item--background">
          <p class="modal-franchise__name">Los Angeles</p>
        </li>
        <li class="modal-franchise__item">
          <a
            href="https://goo.gl/maps/B6wPY4pGyhfs4VtT9"
            target="_blank"
            rel="noopener noreferrer"
            class="modal-franchise__link link"
          >
            200 Santa Monica Pier, Santa Monica, CA 90401, USA</a
          >
        </li>
        <li class="modal-franchise__item">
          <a href="mailto:noreply@envato.com" class="modal-franchise__link link"
            >noreply@envato.com</a
          >
        </li>
        <li class="modal-franchise__item">
          <a href="tel:+61(0)363956581" class="modal-franchise__link link">+61(0) 363 956 581</a>
        </li>
      </ul>
    </address>

    <address class="modal-franchise__address">
      <ul class="modal-franchise__list list">
        <li class="modal-franchise__item modal-franchise__item--background">
          <p class="modal-franchise__name">New York</p>
        </li>
        <li class="modal-franchise__item">
          <a
            href="https://goo.gl/maps/Qh6zykSNL65NXgdUA"
            target="_blank"
            rel="noopener noreferrer"
            class="modal-franchise__link link"
          >
            20 W 34th St, New York, NY 10001, USA</a
          >
        </li>
        <li class="modal-franchise__item">
          <a href="mailto:noreply@envato.com" class="modal-franchise__link link"
            >noreply@envato.com</a
          >
        </li>
        <li class="modal-franchise__item">
          <a href="tel:+61(0)375361924" class="modal-franchise__link link">+61(0) 375 361 924</a>
        </li>
      </ul>
    </address>
  </div>
</section>
