<section class="contacts">
  <div class="container">
    <h2 class="section-title visually-hidden">Contacts</h2>

    <ul class="contacts__list list">
      <li class="contacts__item">

        <div class="contacts__field">
          <span class="contacts__name">CAFE</span>
        </div>

        <span class="contacts__city">Chicago</span>

        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        
        <span class="contacts__day">Monday - Friday</span>

        <p class="contacts__time">06:00 AM - 10:00 PM</p>

        <span class="contacts__day">Saturday - Sunday</span>

        <p class="contacts__time contacts__time--margin">08:00 AM - 16:00 PM</p>
        

        <a href="tel:+61(0)383766284" class="contacts__tel link">
          +61(0) 383 766 284
        </a>

        <a href="mailto:noreply@envato.com" class="contacts__email link">
          noreply@envato.com
        </a>

      </li>

      <li class="contacts__item">

        <div class="contacts__field contacts__field--green">
          <span class="contacts__name">FOOD TRUCK</span>
        </div>

        <span class="contacts__city">Los Angeles</span>
        
        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        
        <span class="contacts__day">Monday - Friday</span>
          
        <p class="contacts__time">06:00 AM - 10:00 PM</p>
          
        <span class="contacts__day">Saturday - Sunday</span>
          
        <p class="contacts__time contacts__time--margin">08:00 AM - 16:00 PM</p>
        

        <a href="tel:+61(0)383766284 " class="contacts__tel link">
          +61(0) 383 766 284
        </a>
        
        <a href="mailto:noreply@envato.com" class="contacts__email link">
          noreply@envato.com
        </a>

      </li>
      <li class="contacts__item contacts__item--margin">

        <div class="contacts__field">
          <span class="contacts__name">CAFE</span>
        </div>

        <span class="contacts__city">New York</span>
        
        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        

        <span class="contacts__day">Monday - Friday</span>
          
        <p class="contacts__time">06:00 AM - 10:00 PM</p>
          
        <span class="contacts__day">Saturday - Sunday</span>
          
        <p class="contacts__time contacts__time--margin">08:00 AM - 16:00 PM</p>
        
        <a href="tel:+61(0)383766284 " class="contacts__tel link">
          +61(0) 383 766 284
        </a>
        
        <a href="mailto:noreply@envato.com" class="contacts__email link">
          noreply@envato.com
        </a>
        
      </li>
    </ul>
    <div class="contacts__flex">
      <button type="submit" class="contacts__button contacts__button--width button button--reverse">
        <span class="button__text "> Our Locations </span>
        <svg width="8" height="11" class="contacts__icon button__icon button__icon--reverse">
          <use href="././images/sprite.svg#icon-button-white"></use>
        </svg>
      </button>
      <button type="submit" class="contacts__button button ">
        <span class="button__text"> Franchise </span>
        <svg width="8" height="11" class="contacts__icon button__icon ">
          <use href="././images/sprite.svg#icon-button"> </use>
        </svg>
      </button>
    </div>
  </div>

</section>
