<section class="contacts">
  <div class="container">
    <h2 class="section-title visually-hidden">Contacts</h2>

    <ul class="contacts__list list">
      <li class="contacts__item">

        <span class="contacts__name">CAFE</span>

        <span class="contacts__city">Chicago</span>

        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <span class="contacts__day">Monday - Friday</span>

        <p class="contacts__time">06:00 AM - 10:00 PM</p>

        <span class="contacts__day">Saturday - Sunday</span>

        <p class="contacts__time">08:00 AM - 16:00 PM</p>

        <a href="tel:+61(0) 383 766 284" class="contacts__tel">
          +61(0) 383 766 284
        </a>

        <a href="mailto:noreply@envato.com" class="contacts__email">
          noreply@envato.com
        </a>

      </li>

      <li class="contacts__item">

        <span class="contacts__name">FOOD TRUCK</span>
        
        <span class="contacts__city">Los Angeles</span>
        
        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        
        <span class="contacts__day">Monday - Friday</span>
        
        <p class="contacts__time">06:00 AM - 10:00 PM</p>
        
        <span class="contacts__day">Saturday - Sunday</span>
        
        <p class="contacts__time">08:00 AM - 16:00 PM</p>
        
        <a href="tel:+61(0) 383 766 284 " class="contacts__tel">
          +61(0) 383 766 284
        </a>
        
        <a href="mailto:noreply@envato.com" class="contacts__email">
          noreply@envato.com
        </a>

      </li>
      <li class="contacts__item">

        <span class="contacts__name">CAFE</span>
        
        <span class="contacts__city">New York</span>
        
        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        
        <span class="contacts__day">Monday - Friday</span>
        
        <p class="contacts__time">06:00 AM - 10:00 PM</p>
        
        <span class="contacts__day">Saturday - Sunday</span>
        
        <p class="contacts__time">08:00 AM - 16:00 PM</p>
        
        <a href="tel:+61(0) 383 766 284 " class="contacts__tel">
          +61(0) 383 766 284
        </a>
        
        <a href="mailto:noreply@envato.com" class="contacts__email">
          noreply@envato.com
        </a>
        
      </li>
    </ul>

    <button type="submit">Our Locations</button>
    <button type="submit">Franchise</button>

  </div>

</section>
