<footer class="footer">
  <a href="" id="footer"></a>
  <div class="footer__container container wow slideInRight">
    <div class="footer__maine">
      <p class="footer__text wow flip">
        <span class="footer__toptext"> homemade ice cream made </span>
        <span class="footer__bottomtext"> with passion </span>
      </p>
      <div class="footer__right">
        <ul class="socials list">
          <li class="socials__item wow rollIn" data-wow-delay="1.5s">
            <a
              class="socials__link link"
              href="https://github.com"
              target="_blank"
              aria-label="Github"
              rel="noopener noreferrer"
            >
              <svg class="socials__icon" width="18.82" height="18.82">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item wow rollIn" data-wow-delay="1.5s">
            <a
              class="socials__link link"
              href="https://web.telegram.org"
              target="_blank"
              aria-label="Telegram"
              rel="noopener noreferrer"
            >
              <svg class="socials__icon" width="19.2" height="18.2">
                <use href="./images/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item wow rollIn" data-wow-delay="1.5s">
            <a
              class="socials__link link"
              href="https://www.facebook.com"
              target="_blank"
              aria-label="Facebook"
              rel="noopener noreferrer"
            >
              <svg class="socials__icon" width="19.2" height="18.2">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>

        <a class="footer__contact link" href="tel:+6103837662841"
          ><span class="footer__contact--text wow slideInDown" data-wow-delay="1.5s"
            >Feel free to contact </span
          ><span
            class="footer__contact--number wow fadeInUp"
            data-wow-delay="1.5s"
            data-wow-iteration="100"
            >+61 (0) 383 766 284</span
          ></a
        >
      </div>
    </div>
  </div>
  <div class="footer__line"></div>
  <p class="footer__rights">
    <span class="footer__rights--first">&#xA9; 2019 - IceCream.&nbsp;</span
    ><span class="footer__rights--second">All Rights Reserved.</span>
  </p>

  <!-- THIS MODAL ADD IN HEADER ABOUT MILK -->
  <div class="modal footer__modal" data-modal="6">
    <button type="button" class="modal__cross js-modal-close">
      <svg class="modal__cross__icon" width="20" height="20">
        <use href="././images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="footer__modal--content">
      <strong class="footer__modal-title">We only use organic milk!</strong>
      <p class="footer__modal-toptext">
        Organic milk refers to a number of milk products from livestock raised according to organic
        farming methods. In most jurisdictions, use of the term "organic" or equivalents like "bio"
        or "eco", on any product is regulated by food authorities.
      </p>
      <p class="footer__modal-bottomtext">
        Organic dairy products contain significantly higher protein, total omega-3 fatty acid, and 5
        other fatty acids, but less linoleic acid, oleic acid, and omega-6 fatty acids than those of
        conventional produced milk. It also found that organic dairy products have significantly
        higher omega-3 to -6 ratio and 9-desaturase index than the conventional types.
      </p>
    </div>
  </div>
</footer>
