<header class="header">
    <div class="container">
      <nav class="header__navigation">
          <a class="header__logo link" href="">
            <svg class="header__logo-icon" width="40" height="50"> 
        <use class="header__logo-icon-logo" href="././images/sprite.svg#icon-logo"> 
      </svg><span class="header__logotip">ICECREAM</span>
      </a
    >
    <ul class="header__list list">
      <li class="header__item">
        <a class="header__link-home link" href="">Home</a>
      </li>
      <li class="header__item">
        <a class="header__link link" href="">About us</a>
      </li>
      <li class="header__item">
        <a class="header__link link" href="">How it’s made?</a>
      </li>
      <li class="header__item">
        <a class="header__link link" href="">Our products</a>
      </li>
      <li class="header__item">
        <a class="header__link link" href="">Contact</a>
      </li>
    </ul>
    <button class="header__menu" type="button" aria-expanded="false" aria-controls="mobile-menu">
          <svg width="20" height="12"
            class="header__menu-icon"
                       aria-label="Переключатель мобильного меню">
            <use class="menu-icon" href="././images/sprite.svg#icon-burgernew-new"></use>
          </svg>
        </button>
              <button class="hero__button-type" type="button">
        Buy now
    </button>
      <!-- <svg class="hero__button-icon" width="4" height="8">
        <use class="hero__button-icon-right-side" href="././images/sprite.svg#icon-right-side"></use>
      </svg> -->
         </nav>
         </div>
         <div class="header__backdrop is-hidden">
             <div class="header__mobilemenu">
                 <button type="button" class="header__mobilemenu-close">
                     <svg width="14" height="14"
            class="header__mobilemenu-icon"
                       aria-label="Переключатель мобильного меню">
            <use class="menu-icon-close" href="././images/sprite.svg#icon-close"></use>
          </svg>
                 </button>
                 <button type="button" class="header__mobilemenu-button">Buy now</button>

    <ul class="header__mobilemenu-list list">
        <li class="header__mobilemenu-item">
            <a class="header__mobilemenu-link-home link" href="">Home</a>
        </li>
        <li class="header__mobilemenu-item">
            <a class="header__mobilemenu-link link" href="">About us</a>
        </li>
        <li class="header__mobilemenu-item">
            <a class="header__mobilemenu-link link" href="">How it’s made?</a>
        </li>
        <li class="header__mobilemenu-item">
            <a class="header__mobilemenu-link link" href="">Our products</a>
        </li>
        <li class="header__mobilemenu-item">
            <a class="header__mobilemenu-link link" href="">Contact</a>
        </li>
    </ul>
                </div>


         </div>
 </header>
