<header class="header">
      <div class="header-hero__container container">
        <div class="header__thumb">
          <a class="header__logo link" href="">
            <svg class="header__logo-icon"> 
        <use href="././images/sprite.svg#icon-logo"> 
      </svg>
      <span class="header__logotip">icecream</span>
      </a>
      <div class="header__substrate">
    <nav class="header__navigation">
      <ul class="header__list list">
        <li class="header__item">
          <a class="header__link--home link" href="">Home</a>
        </li>
        <li class="header__item">
          <a class="header__link link" href="">About us</a>
        </li>
        <li class="header__item">
          <a class="header__link link" href="">How it’s made?</a>
        </li>
        <li class="header__item">
          <a class="header__link link" href="">Our products</a>
        </li>
        <li class="header__item">
          <a class="header__link link" href="">Contact</a>
        </li>
      </ul>
    <button class="header__menu" type="button" aria-expanded="false" aria-controls="mobile-menu">
      <svg class="header__menu-icon" aria-label="Переключатель мобильного меню"
      
      width="20"
      height="12">

          <use href="./images/sprite.svg#icon-burgernew-new"></use>
      </svg>
    </button>
    </nav>
    </div>
    <button class="hero__button-type" type="button">
      Buy now
      <svg class="header__icon-right"
      
      width="6"
      height="10"
      
      >
      
        <use href="./images/sprite.svg#icon-right-side"></use>
      </svg>
    </button>
    </div>
            <!------------------------ HERO  -------------------------->
          <div class="header-hero__substraite">
            <div class="header-hero__text-block">
              <h1 class="header-hero__title section-title">ice cream <br> made with <br><span
                  class="header-hero__textcolor">passion</span></h1>
              <button type="button" class="header-hero__button-red">Products</button>
              <button type="button" class="header-hero__button-white">How it's made?</button>
            </div>
          </div>
          <img alt="ice-cream" class="header-hero__image" src="./images/favicon/hero-ice-cream-171px.png" srcset="

                  ./images/favicon/hero-ice-cream-171px.png 171w, 
                  ./images/favicon/hero-ice-cream-342px.png 342w,
                  ./images/favicon/hero-ice-cream-472px.png 472w

                  " sizes="(min-width: 1280px) 20vw, (min-width: 768px) 20vw, (max-width: 767px) 40vw">
          <div class="header-hero__thumb">
            <img src="./images/favicon/milk-cont-124px.png" alt="container with milk" class="header-hero__milk-img" srcset="
                      ./images/favicon/milk-cont-124px.png 124w,
                      ./images/favicon/milk-cont-248px.png 248w,
                      ./images/favicon/milk-cont-376px.png 376w" sizes="(min-width: 1280px) 15vw, (min-width: 768px) 16vw">
            <span class="header-hero__milk-text">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit, <br> sed do eiusmod
              tempor <br> incididunt ut labore et</span>
            <button class="header-hero__button js-open-modal" data-modal="6" type="button">
              <svg class="header-hero__icon">
                <use class="products__svg" href="././images/sprite.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
          <img src="./images/favicon/hero-ice-girl-168px.png" alt="girl with ice-cream" srcset="
                  ./images/favicon/hero-ice-girl-168px.png 168w,
                  ./images/favicon/hero-ice-girl-336px.png 336w,
                  ./images/favicon/hero-ice-girl-586px.png 586w" sizes="(min-width: 1280px) 23vw, (min-width: 768px) 22vw"
            class="header-hero__ice-girl">
          <div class="header-hero__right--first">
            16
            <span class="header-hero__text--first">cafes</span>
          </div>
          <div class="header-hero__right--second">
            23
            <span class="header-hero__text--second">food&nbsptracks</span>
          </div>
         </div>
        <!-------------------- MODAL -------------------->
         <div class="header__backdrop is-hidden">
             <div class="header__mobilemenu">
                 <button type="button" class="header__mobilemenu-close">
                     <svg width="14" height="14"
            class="header__mobilemenu-icon"
                       aria-label="Переключатель мобильного меню">
            <use class="menu-icon-close" href="././images/sprite.svg#icon-close"></use>
          </svg>
                 </button>
                 <button type="button" class="header__mobilemenu-button">Buy now</button>

    <ul class="header__mobilemenu-list list">
        <li class="header__mobilemenu-item">
            <a class="header__mobilemenu-link-home link" href="">Home</a>
        </li>
        <li class="header__mobilemenu-item">
            <a class="header__mobilemenu-link link" href="">About us</a>
        </li>
        <li class="header__mobilemenu-item">
            <a class="header__mobilemenu-link link" href="">How it’s made?</a>
        </li>
        <li class="header__mobilemenu-item">
            <a class="header__mobilemenu-link link" href="">Our products</a>
        </li>
        <li class="header__mobilemenu-item">
            <a class="header__mobilemenu-link link" href="">Contact</a>
        </li>
    </ul>
                </div>
         </div>
 </header>
