<section class="products">
  <a href="" id="products"></a>
  <div class="container">
    <p class="products__meta wow fadeInUp">100% natural</p>
    <h2 class="section-title wow fadeInUp" data-wow-delay="0.5s">products</h2>
    <ul class="products__list">
      <li class="products__item">
        <h3 class="products__title">ice cream</h3>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button class="products__button js-open-modal" data-modal="3" type="button">
          <svg class="products__icon" width="11" height="10">
            <use href="././images/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>

      <li class="products__item">
        <h3 class="products__title products__title--ice-coffee">ice coffee</h3>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button class="products__button js-open-modal" data-modal="4" type="button">
          <svg class="products__icon" width="11" height="10">
            <use href="././images/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>

      <li class="products__item">
        <h3 class="products__title products__title--milkshakes">milkshakes</h3>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>

        <button class="products__button js-open-modal" data-modal="5" type="button">
          <svg class="products__icon" width="11" height="10">
            <use href="././images/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>

  <div class="modal products__modal products__modal--ice-cream" data-modal="3">
    <button type="button" class="modal__cross js-modal-close">
      <svg class="modal__cross__icon" width="15" height="15">
        <use href="././images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <p class="products__modal-text">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, cumque! In eaque molestias,
      quidem similique eligendi deserunt suscipit incidunt? Nulla, amet? Reprehenderit architecto
      nam fuga. Totam iste nam aut unde!
    </p>
  </div>

  <div class="modal products__modal products__modal--ice-coffee" data-modal="4">
    <button type="button" class="modal__cross js-modal-close">
      <svg class="modal__cross__icon" width="15" height="15">
        <use href="././images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <p class="products__modal-text">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, cumque! In eaque molestias,
      quidem similique eligendi deserunt suscipit incidunt? Nulla, amet? Reprehenderit architecto
      nam fuga. Totam iste nam aut unde!
    </p>
  </div>

  <div class="modal products__modal products__modal--milkshakes" data-modal="5">
    <button type="button" class="modal__cross js-modal-close">
      <svg class="modal__cross__icon" width="15" height="15">
        <use href="././images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <p class="products__modal-text">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, cumque! In eaque molestias,
      quidem similique eligendi deserunt suscipit incidunt? Nulla, amet? Reprehenderit architecto
      nam fuga. Totam iste nam aut unde!
    </p>
  </div>
</section>
