.overlay {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  transition: var(--duration) all;
  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.modal {
  opacity: 0;
  visibility: hidden;

  width: 100%;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;

  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 30px;
  border-radius: 3px;
  background-color: #fff;
  transition: var(--duration) all;
  &.active {
    opacity: 1;
    visibility: visible;
  }

  @media screen and (min-width: 480px) {
    max-width: 400px;
  }
  @media screen and (min-width: 768px) {
    max-width: 700px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1000px;
  }
}

.modal__cross {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #444;
  cursor: pointer;

  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: unset;
  border-radius: 50%;
}

.modal__cross__icon {
  transition: fill var(--duration) var(--timing-function);
  .modal__cross:hover &,
  .modal__cross:focus & {
    fill: var(--accent-color);
  }
}
